@mixin primaryShadow {
  box-shadow: 0px 5px 40px #004cff1a;
}

@mixin primaryShadow-2 {
  box-shadow: 0px 10px 20px #004cff33;
}

@mixin maxQ($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

@mixin minQ($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

@mixin maxHeight($arg) {
  @media screen and (max-height: $arg) {
    @content;
  }
}

@mixin minHeight($arg) {
  @media screen and (min-height: $arg) {
    @content;
  }
}

@mixin grid-display($min, $max, $auto-rows) {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax($min, $max));
  grid-auto-rows: $auto-rows;
}
