@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap");
body {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #001243;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}
