@use "../../index" as *;
@use "./normalize";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  //   @include maxQ(1400px) {
  //     font-size: 15px;
  //   }

  //   @include maxQ(992px) {
  //     font-size: 14px;
  //   }
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
}
